﻿@model PaginatedList<BooksTable.Models.Student>

@{
    ViewData["Title"] = "Index";
}
@section Scripts
{
    <script>
        function searchS() {
            var name = $('#SearchString').val();

            $.getJSON(`http://localhost:5005/SearchStudent?name=${name}`
            ).done(function (data) {
                var table = `<table class="table table-dark">
                                            <thead>
                                                    <tr>
                                                        <th>
                                                            Last Name
                                                        </th>
                                                        <th>
                                                            First Name
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>`;

                data.forEach(student => {
                    table += `<tr>
                                        <td> ${student.lastName}</td>
                                        <td>${student.firstName}</td>
                                    </tr>`;
                });
                table += `</tbody></table>`;

                $('#Content').html(table);
            });
        }

    </script>
}
<div class="row">
    <div class="col col-6">
        <div class="card text-white mb-3">
            <div class="card-header bg-danger">Student by Name:</div>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" id="SearchString"/>
                    <button type="button" class="btn btn-primary" onclick="searchS()">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Content">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>
                    Last Name
                </th>
                <th>
                    First Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="float-lg-right">
        <a asp-action="RecreateDatabase" class="btn btn-warning">Recreate database</a>
    </div>

</div>
